<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>return</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/return.css')}}">
</head>

<body>
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='newbie.png')}}">
        <img src="{{url_for('static', filename='newbie.png')}}" alt="Cinque Terre" width="1920" height="1080">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>


    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='corr.png')}}">
        <img src="{{url_for('static', filename='corr.png')}}" alt="Forest" width="1920" height="1080">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='corr.png')}}">
        <img src="{{url_for('static', filename='corr.png')}}" alt="Forest" width="1920" height="1080">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>


</body>
</html>
